//Color
$primary-color: #936a49;
$secondary-color: #FEFFC4;
$text-color: #936a49;
$secondary-text-color: rgb(169, 168, 168);
$background-color: #f0f0f0;

//Fonts
$font-primary: 'Lexend', sans-serif;
$font-secondary: 'Gantari', sans-serif;