@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root{
  --primary-background-color: #936a49;
  --primary-color-text: #745334;
  --primary-color-text-hover: #43321b;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
}

img {
  cursor: pointer;
}

a, a:hover{
  text-decoration: none;
}
