.dashboard {
    padding: 20px;
    background-color: #fdf8f2;
    min-height: 100vh;
  }
  
  .dashboard .ant-card {
    border: 0.5px solid #936a49;
    border-radius: 10px;
  }
  
  .dashboard .ant-card:hover {
    transform: scale(1.05);
  }
  
  .dashboard .ant-statistic-title {
    color: #936a49;
    font-weight: bold;
  }
  
  .dashboard .ant-statistic-content {
    font-size: 1.5em;
    font-weight: bold;
    color: #43321b;
  }
  
  .chart-card {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #936a49;
    background-color: white;
  }
  
  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chart-select {
    width: 120px;
  }
  
  .top-products-card {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #936a49;
    background-color: white;
  }
  
  .top-products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-products-header button {
    font-size: 14px;
    color: #936a49;
  }
  