/* .otp_email{
    font-size: 14px;
    margin-top: -10px;
    color: var(--primary-background-color);
}

.otp_input{
    padding: 14px;
    text-align: center;
    color: #333;
    border: 1px solid #6f6f6f;
    height: 50px;
    width: 50px !important;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
    outline: none;
}

.otp_input:focus {
    border-color: var(--primary-color-text);
  }

.time{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 22px;
}

.time span{
    color: var(--primary-color-text);
    cursor: pointer;
    font-weight: 500;
    line-height: 25px;
    margin-left: 5px;
}

.send_again{
    text-align: center;
    font-size: 14px;
    color: #6f6f6f;
    cursor: pointer;
    font-weight: 600;
    line-height: 25px;
}

.send_again.active {
    color: var(--primary-color-text);
    cursor: pointer;
  }
  
  .send_again.disabled {
    color: #6f6f6f;
    cursor: not-allowed;
  } */
