@import "../../styles/variables.scss";

.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: #ffffff;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 2em;

    &__logo {
      height: 3em;
      width: auto;
    }

    &__menu {
      display: flex;
      align-items: center;
      gap: 2em;
      font-family: $font-primary;
      font-weight: 500;
      color:#936a49;
      font-size: 1.2em;
      cursor: pointer;

      p {
        margin: 0;
        &:hover {
          color: rgb(85, 170, 85); 
        }
      }
    }

    &__button {
      display: flex;
      gap: 1em; 
      align-items: center;

      &__left {
        height: 38px;
        padding: 0.4em 1.2em;
        font-size: 1.1em;
        font-family: $font-primary;
        font-weight: 500;
        border-radius: 5px;
        background-color: transparent;
        color: rgb(29, 37, 25);
        border: 1px solid rgb(17, 63, 27);
        &:hover {
          color: rgb(48, 163, 44);
          border-color: white;
        }
      }

      &__right {
        height: 38px;
        padding: 0.4em 1.2em;
        font-size: 1.1em;
        font-family: $font-primary;
        font-weight: 500;
        border-radius: 5px;
        background-color: $primary-color;
        color: black;
        border: 1px solid rgb(190, 190, 190);
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
