.custom__header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.custom__header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

.custom__header__item__logo {
  height: 3em;
  width: auto;
}

.custom__header__item__menu {
  display: flex;
  align-items: center;
  gap: 3em;
  font-weight: 500;
  color: #fbe8d8;
  font-size: 1.2em;
  cursor: pointer;
}

.custom__header__item__menu p {
  margin: 0;
}

.custom__header__item__menu p:hover {
  color: #745334;
}

.custom__header__item__button__left {
  margin-right: 10px;
}
