.home{
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.home-slider-text{
    background: #fff7ec;
    padding: 20px 320px 20px 130px;
    height: 430px;
    display: flex;
    align-items: center;
}

.home-container-1{
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.home-row{
    display: flex;
    margin: 0 -10px;
}

.home-col-left, .home-col-right{
    position: relative;
    width: 100%;
    padding: 0 10px;
}

.home-image{
    width: 700px;
    height: 400px;
    position: absolute;
    bottom: -120px;
    left: 0;
    animation: myMove 3s infinite;
}

.home-heading-line-1{
    font-size: 48px;
    line-height: 1.2;
    color: #fdcc7f;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.home-heading-line-1 b{
    color: var(--primary-color-text);
    font-weight: bolder;
}

.home-heading-line-2{
    color: #fdcc7f;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.home-btn-buy{
    background: linear-gradient(280.66deg, var(--primary-color-text-hover) 0%, var(--primary-color-text) 102.8%);
    color: #fff;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 170px;
}

.home-btn-buy:hover{
    background: var(--primary-color-text);
}

.home-section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-section-2 h3{
    font-size: 30px;
}


@keyframes myMove {
    0%, 100%{
        top: 0;
    }

    50%{
        top: 15px;
    }
}