.login {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.login_container {
  height: 100vh;
  background-color: #fff;
}

.login_wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.login_content_left {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/furniture.png");
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.login_content_left_wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
}

.login_content_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box {
  width: 60%;
  color: #393939;
  height: fit-content;
}

.login_box h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
}

.login_box_input:first-child {
  margin-bottom: 20px;
}

.login_box_input label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.box {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
  width: 100%;
}

.box_email,
.box_password {
  border-radius: 12px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: #393939;
  cursor: text;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.input {
  padding: 14px;
  letter-spacing: inherit;
  color: #333;
  border: 2px solid #a8a8a8;
  border-radius: 12px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: #0000;
  display: block;
  min-width: 0;
  width: 100%;
  animation-name: auto-fill-cancel;
  animation-duration: 10ms;
}

.input:focus {
  outline: 0;
  border-color: var(--primary-background-color) ;
}

.input::placeholder {
  font-size: 14px;
  color: #8d8d8d;
}

.login_forget_password a {
  display: block;
  font-size: 14px;
  font-weight: 550;
  line-height: 20px;
  color: var(--primary-color-text);
  margin: 9px 0 22px;
  text-align: right;
  cursor: pointer;
}

.login_forget_password a:hover {
  color: var(--primary-color-text-hover);
}

.login_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: 0;
  border: 0;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 8px 22px;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(280.66deg, var(--primary-color-text-hover) 0%, var(--primary-color-text) 102.8%);
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-transform: 0;
  cursor: pointer;
}

.login_button:hover{
    background: var(--primary-color-text);
    box-shadow: none;
}

.login_text_register{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 30px 0;
    text-align: center;
}

.login_text_register a{
    display: inline-block;
    color: var(--primary-color-text);
    cursor: pointer;
    font-weight: 550;
    margin-left: 5px;
}

.login_text_register a:hover{
    color: #43321b;
}

.login_text_continue{
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    line-height: .1em;
    margin: 10px auto;
}

.login_text_continue span{
    background: #fff;
    padding: 0 16px;
    color: #8d8d8d;
    font-weight: 400;
    font-size: 12px;
}

.login_google{
    margin: 20px 0 !important;
}

.google{
    display: flex;
    justify-content: center;
}

.login_rule{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

.login_rule a{
    color: var(--primary-color-text);
    cursor: pointer;
    font-weight: 550;
    line-height: 25px;
    margin-left: 5px;
}

.login_rule a:hover{
    color: var(--primary-color-text-hover);
}

.error-message{
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.Toastify__toast {
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}
.Toastify__toast--error {
  background-color: #ff4d4f;
}
.Toastify__toast--success {
  background-color: #52c41a;
}

.Toastify__toast-container {
  z-index: 9999 !important;
}

@media (min-width: 1260px) {
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@keyframes auto-fill-cancel {
  0% {
    display: block;
  }
}

@media (max-width: 576px) {
  .login_content_left_wrapper {
    background-color: transparent;
  }

  .login_content_left {
    background-image: url("../../../assets/Logo_module.png");
    height: 250px;
  }

  .login_box h3 {
    text-align: center;
  }

  .login_content_right {
    align-items: start;
  }
}