.admin-header {
  background-color: #936a49;
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  padding: 0 20px;
  height: 64px; 
}

.admin-header .ant-avatar {
  background-color: #ffffff;
  color: #936a49;
  font-weight: bold;
}
